# 虚拟环境
.env
venv/
env/
.venv/

# Jupyter Notebook 检查点
.ipynb_checkpoints/

# Python编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 包管理
requirements.txt.save
*.egg-info/
dist/
build/

# IDE配置
.idea/
.vscode/
*.swp
*.swo
